name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  learn-the-environment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # - uses: actions/setup-node@v3
        # with:
        #   node-version: '14'
      - run: ls -al
      - run: pwd
      - run: uname -a
  run-a-shell-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: bash ./test.sh
  