name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  learn-the-environment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # - uses: actions/setup-node@v3
        # with:
        #   node-version: '14'
      - run: ls -al
      - run: pwd
      - run: uname -a
  run-a-shell-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: bash ./test.sh
  get-jiggy-wit-it:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        yeet: ["yeet", "yank", "yoink"]
    steps:
      - uses: actions/checkout@v3
      - run: echo ${{ matrix.yeet }}
  cache-munny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt
  uwu:
    runs-on: ubuntu-latest
    needs: cache-munny
    steps:
      - run: pip list